{
  "signing": {
    "default": {
      "expiry": "17520h",
      <% if @ca_number == '01' -%>
      "usages": [
        "cert sign",
        "crl sign",
        "ocsp signing",
        "server auth",
        "digital signature",
        "key encipherment",
        "key agreement"
      ],
      "ca_constraint": {
        "is_ca": true,
        "max_path_len":0,
        "max_path_len_zero": true
      },
      "crl_url": "http://internal-pki.example.com/crls/intermediate-ca-<%= @ca_number %>.crl",
      "issuer_urls": [
        "http://internal-pki.example.com/certs/intermediate-ca-<%= @ca_number %>.pem"
      ]
      <% end -%>
      <% if @ca_number == '02' -%>
      "usages": [
        "cert sign",
        "crl sign",
        "ocsp signing",
        "client auth",
        "ipsec user",
        "digital signature",
        "key encipherment",
        "key agreement"
      ],
      "ca_constraint": {
        "is_ca": true,
        "max_path_len":0,
        "max_path_len_zero": true
      },
      "crl_url": "http://internal-pki.example.com/crls/intermediate-ca-<%= @ca_number %>.crl",
      "issuer_urls": [
        "http://internal-pki.example.com/certs/intermediate-ca-<%= @ca_number %>.pem"
      ]
      <% end -%>
      <% if @ca_number == '03' -%>
      "usages": [
        "cert sign",
        "crl sign",
        "ocsp signing",
        "server auth",
        "ipsec tunnel",
        "ipsec end system",
        "digital signature",
        "key encipherment",
        "key agreement"
      ],
      "ca_constraint": {
        "is_ca": true,
        "max_path_len":0,
        "max_path_len_zero": true
      },
      "crl_url": "http://internal-pki.example.com/crls/intermediate-ca-<%= @ca_number %>.crl",
      "issuer_urls": [
        "http://internal-pki.example.com/certs/intermediate-ca-<%= @ca_number %>.pem"
      ]
      <% end -%>
      <% if @ca_number == '04' -%>
      "usages": [
        "cert sign",
        "crl sign",
        "ocsp signing",
        "server auth",
        "client auth",
        "ipsec user",
        "ipsec tunnel",
        "ipsec end system",
        "digital signature",
        "key encipherment",
        "key agreement"
      ],
      "ca_constraint": {
        "is_ca": true,
        "max_path_len":0,
        "max_path_len_zero": true
      },
      "crl_url": "http://internal-pki.staging.example.com/crls/intermediate-ca-<%= @ca_number %>.crl",
      "issuer_urls": [
        "http://internal-pki.staging.example.com/certs/intermediate-ca-<%= @ca_number %>.pem"
      ]
      <% end -%>
    }
  }
}
