{
  "signing": {
    "default": {
      "expiry": "720h",
      "usages": ["digital signature"],
      "is_ca": false
    },
    "profiles": {
      <% if @parent_ca_number == '01' -%>
      "server": {
        "expiry": "2160h",
        "usages": [
          "server auth",
          "key encipherment",
          "key agreement",
          "digital signature"
        ],
        "auth_key": "server_auth",
        "crl_url": "http://internal-pki.example.com/crls/issuing-ca-<%= @parent_ca_number %><%= @issuing_ca_number %>.crl",
        "issuer_urls": ["http://internal-pki.example.com/certs/issuing-ca-<%= @parent_ca_number %><%= @issuing_ca_number %>.pem"],
        "is_ca": false
      }
      <% end -%>
      <% if @parent_ca_number == '02' -%>
      "client": {
        "expiry": "2160h",
        "usages": [
          "client auth",
          "ipsec user",
          "key encipherment",
          "key agreement",
          "digital signature"
        ],
        "auth_key": "client_auth",
        "crl_url": "http://internal-pki.example.com/crls/issuing-ca-<%= @parent_ca_number %><%= @issuing_ca_number %>.crl",
        "issuer_urls": ["http://internal-pki.example.com/certs/issuing-ca-<%= @parent_ca_number %><%= @issuing_ca_number %>.pem"],
        "is_ca": false
      }
      <% end -%>
      <% if @parent_ca_number == '03' -%>
      "network_device": {
        "expiry": "2160h",
        "usages": [
          "server auth",
          "key encipherment",
          "key agreement",
          "digital signature"
        ],
        "auth_key": "network_device_auth",
        "crl_url": "http://internal-pki.example.com/crls/issuing-ca-<%= @parent_ca_number %><%= @issuing_ca_number %>.crl",
        "issuer_urls": ["http://internal-pki.example.com/certs/issuing-ca-<%= @parent_ca_number %><%= @issuing_ca_number %>.pem"],
        "is_ca": false
      },
      "vpn_endpoint": {
        "expiry": "2160h",
        "usages": [
          "ipsec tunnel",
          "ipsec end system",
          "key encipherment",
          "key agreement",
          "digital signature"
        ],
        "auth_key": "vpn_tunnel_auth",
        "crl_url": "http://internal-pki.example.com/crls/issuing-ca-<%= @parent_ca_number %><%= @issuing_ca_number %>.crl",
        "issuer_urls": ["http://internal-pki.example.com/certs/issuing-ca-<%= @parent_ca_number %><%= @issuing_ca_number %>.pem"],
        "is_ca": false
      }
      <% end -%>
      <% if @parent_ca_number == '04' -%>
      "server": {
        "expiry": "2160h",
        "usages": [
          "server auth",
          "key encipherment",
          "key agreement",
          "digital signature"
        ],
        "auth_key": "server_auth",
        "crl_url": "http://internal-pki.staging.example.com/crls/issuing-ca-<%= @parent_ca_number %><%= @issuing_ca_number %>.crl",
        "issuer_urls": ["http://internal-pki.staging.example.com/certs/issuing-ca-<%= @parent_ca_number %><%= @issuing_ca_number %>.pem"],
        "is_ca": false
      },
      "client": {
        "expiry": "2160h",
        "usages": [
          "client auth",
          "ipsec user",
          "key encipherment",
          "key agreement",
          "digital signature"
        ],
        "auth_key": "client_auth",
        "crl_url": "http://internal-pki.staging.example.com/crls/issuing-ca-<%= @parent_ca_number %><%= @issuing_ca_number %>.crl",
        "issuer_urls": ["http://internal-pki.staging.example.com/certs/issuing-ca-<%= @parent_ca_number %><%= @issuing_ca_number %>.pem"],
        "is_ca": false
      }
      <% end -%>
    }
  },
  "auth_keys": {
    <% if @parent_ca_number == '01' -%>
    "server_auth": {
      "type":"standard",
      "key":"<%= @api_key %>"
    }
    <% end -%>
    <% if @parent_ca_number == '02' -%>
    "client_auth": {
      "type":"standard",
      "key":"<%= @api_key %>"
    }
    <% end -%>
    <% if @parent_ca_number == '03' -%>
    "network_device_auth": {
      "type":"standard",
      "key":"<%= @api_key['network_device'] %>"
    },
    "vpn_tunnel_auth": {
      "type":"standard",
      "key":"<%= @api_key['vpn_tunnel'] %>"
    }
    <% end -%>
    <% if @parent_ca_number == '04' -%>
    "server_auth": {
      "type":"standard",
      "key":"<%= @api_key['server_auth'] %>"
    },
    "client_auth": {
      "type":"standard",
      "key":"<%= @api_key['client_auth'] %>"
    }
    <% end -%>
  }
}
