{
  "auth_keys": {
    "key1": {
      "key": "<%= @api_key %>",
      "type": "standard"
    }
  },
  "remotes": {
    "caserver": "<%= @issuing_ca %>"
  },
  "signing": {
    "profiles" : {
      "server": {
        "auth_remote": {
          "auth_key": "key1",
          "remote": "caserver"
        }
      }
    }
  }
}
