{
  "CN": "Example Org Internal Intermediate CA <%= @ca_number %>",
  "key": {
    "algo": "rsa",
    "size": 4096
  },
  "hosts": [
    "intermediate-ca-<%= @ca_number %>.example.com",
    "<%= @ip_address %>"
  ],
  "names": [
     {
       "C": "US",
       "L": "Denver",
       "O": "Example Org, Ltd",
       "OU": "IT",
       "ST": "Colorado"
     }
  ]
}
