{
  <% if @parent_ca_number == '04' -%>
  "CN": "Example Org Internal Issuing CA <%= @parent_ca_number %><%= @issuing_ca_number %> - STAGING",
  <% else -%>
  "CN": "Example Org Internal Issuing CA <%= @parent_ca_number %><%= @issuing_ca_number %>",
  <% end -%>
  "key": {
    "algo": "rsa",
    "size": 4096
  },
  "hosts": [
    <% if @parent_ca_number == '04' -%>
    "issuing-ca-<%= @parent_ca_number %><%= @issuing_ca_number %>.staging.example.com",
    <% else -%>
    "issuing-ca-<%= @parent_ca_number %><%= @issuing_ca_number %>.example.com",
    <% end -%>
    "<%= @ip_address %>"
  ],
  "names": [
     {
       "C": "US",
       "L": "Denver",
       "O": "Example Org, Ltd",
       "OU": "IT",
       "ST": "Colorado"
     }
  ]
}
