{
  "CN": "<%= @hostname %>",
  "hosts": [
    "<%= @hostname %>",
    "<%= @ip_address %>"
  ],
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
     {
       "C": "US",
       "L": "Denver",
       "O": "Example Org, Ltd",
       "OU": "IT",
       "ST": "Colorado"
     }
  ]
}
