server {
  listen 80 default_server;
  server_name <%= @hostname %>;

  access_log /var/log/nginx/<%= @hostname %>/http/access.log;
  error_log /var/log/nginx/<%= @hostname %>/http/error.log;

  location / {
    proxy_pass http://127.0.0.1:8888;
    proxy_set_header X-Forwarded-Host $server_name;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-Proto $scheme;
  }

  location ~ /\. { access_log off; log_not_found off; deny all; }
  location ~ ~$ { access_log off; log_not_found off; deny all; }
}

server {
  listen 443 ssl default_server;
  server_name <%= @hostname %>;

  access_log /var/log/nginx/<%= @hostname %>/https/access.log;
  error_log /var/log/nginx/<%= @hostname %>/https/error.log;

  ssl on;
  ssl_certificate /opt/cfssl/example-org/<%= @hostname %>/cert_bundle.pem;
  ssl_certificate_key  /opt/cfssl/example-org/<%= @hostname %>/cert-key.pem;
  ssl_session_timeout 5m;
  ssl_protocols TLSv1.2;
  ssl_prefer_server_ciphers on;
  ssl_ciphers 'ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES256-SHA:ECDHE-ECDSA-AES256-SHA:AES128-GCM-SHA256:AES128-SHA256:AES128-SHA:AES256-GCM-SHA384:AES256-SHA256:AES256-SHA';
  ssl_ecdh_curve secp521r1;
  ssl_session_cache shared:SSL:10m;

  location / {
    proxy_pass http://127.0.0.1:8888;
    proxy_set_header X-Forwarded-Host $server_name;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-Proto $scheme;
  }

  location ~ /\. { access_log off; log_not_found off; deny all; }
  location ~ ~$ { access_log off; log_not_found off; deny all; }
}
